@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.eot');
    src: url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'), url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'), url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.ttf') format('truetype'), url('../font/helvethaica/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.eot');
    src: url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.woff2') format('woff2'), url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.woff') format('woff'), url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.ttf') format('truetype'), url('../font/helvethaica/db_helvethaica_x_med_v3.2-webfont.svg#db_helvethaica_x65_med') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica';
    src: url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.eot');
    src: url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'), url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.woff') format('woff'), url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.ttf') format('truetype'), url('../font/helvethaica/db_helvethaica_x_v3.2-webfont.svg#db_helvethaica_x55_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEAD */

.nav-bar {
    /* position: fixed; */
    top: 0;
    background-color: #004298;
    padding: 10px 100px;
    z-index: 999;
    width: 100%;
}

.nav-bar .link .nav-title {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.nav-bar .link img {
    width: 60px;
    height: 60px;
}

/* BODY */

body {
    font-family: 'db_helvethaica';
}

.votedesign {
    background-image: url(../img/bg-dmsc.png);
    background-size: cover;
    margin: 80px 0px;
}

.vote-logo {
    display: flex;
    justify-content: center;
}

.vote-logo img {
    width: 120px;
}

.vote-title {
    display: flex;
    justify-content: center;
}

/* .hero-banner .container{

} */

/* .hero-banner .item-list {
    margin: 0 -10px;
    display: flex;
}

.hero-banner .item-list::after,
.hero-banner .item-list::before {
    content: '';
    display: table;
}

.hero-banner .item-list li {
    width: calc(100% / 4);
    padding: 10px;
    list-style: none;
    float: left;
}

.hero-banner .item-list li a {
    display: block;
}

.hero-banner .item-list li a:hover img {
    transform: scale(1.1);
    background-color: aliceblue;
    filter: grayscale(0);
}

.hero-banner .thumb {
    position: relative;
    overflow: hidden;
}

.hero-banner .thumb::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero-banner .thumb figure.cover {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100%;
}

.hero-banner .thumb .cover img {
    filter: grayscale(0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: All 400ms ease;
} */

.general-theme .thumb {
    position: relative;
    margin-bottom: 15px;
}

.general-theme .thumb figure.cover {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115%;
}

.general-theme .thumb .cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    /* border-radius: 5px; */
}


.service-theme .thumb {
    position: relative;
    margin-bottom: 15px;
}

.service-theme .thumb figure.cover {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50%;
}

.service-theme .thumb .cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    /* border-radius: 5px; */
}

.sending {
    background-color: #004298;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    height: 60px;
    line-height: 58px;
    border: transparent;
    margin-top: 30px;
    box-shadow: 0 0 15px 1px rgb(0 84 255 / 45%);
}

.heading {
    display: flex;
    /* justify-content: center; */
    padding-left: 20px;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #006838;
    width: 100%;
    height: 50px;
    /* border: 1px solid #000; */
    /* border-radius: 4px; */
    margin: 5px 0px 20px 0px;
}

/* radio */
.choice-input {
    height: 25px;
    width: 25px;
}

.control-label {
    position: absolute;
    top: 0px;
    margin-left: 10px;
    line-height: 23px;
    font-size: 18px;
}

.form-control {
    padding: 1rem 1.5rem;
    line-height: 1.5;
    border-radius: 0;
    /* border: 1px solid #6A6B6C; */
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #004298;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 77 255 / 31%);
}



/* FOOTER */

/* .layout-footer {
    opacity: 1;
    transform: translateZ(0);
    bottom: 0;
    background-color: #004298;
    padding: 0;
    z-index: 999;
    width: 100%;
}

.layout-footer .copyright {
    padding: 2rem 0;
    color: #ffffff;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
    margin: 0;
} */



/* radio custom */

.rdio {
    position: relative;
}
.rdio input[type="radio"] {
    opacity: 0;
}
.rdio label {
    padding-left: 12px;
    cursor: pointer;
    margin-bottom: 12px !important;
    font-size: 16px;
    color: #004298;
}
.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #004298;
    background: #fff;
}
.rdio input[type="radio"] {
    margin: 0px;
}
.rdio input[type="radio"]:disabled + label {
    color: #999;
}
.rdio input[type="radio"]:disabled + label:before {
    background-color: #004298;
}
.rdio input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    display: inline-block;
    font-size: 11px;
    width: 8px;
    height: 8px;
    background-color: #004298;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.rdio-default input[type="radio"]:checked + label:before {
    border-color: #004298;
}
.rdio-primary input[type="radio"]:checked + label:before {
    border-color: #004298;
}
.rdio-primary input[type="radio"]:checked + label::after {
    background-color: #004298;
}
.custom-checkbox {
   /*margin-bottom:0px !important;
   */
}
.custom-checkbox > [type="checkbox"], .custom-checkbox label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked), .custom-checkbox > [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label, .custom-checkbox > [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before, .custom-checkbox > [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 17px;
    height: 17px;
    border: 1px solid #004298;
    background: #fff;
    border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after, .custom-checkbox > [type="checkbox"]:checked + label:after {
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 2px;
    color: #004298;
    xtransition: all 0.2s;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before {
    box-shadow: none;
    background-color: #eee;
    border-color: #eee;
    cursor: not-allowed;
    opacity: 1;
    color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    background-color: #eee;
    border-color: #eee;
    cursor: not-allowed;
    opacity: 1;
    color: #004298;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
    color: #004298;
    cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
    color: #aaa;
    cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before, .custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #004298;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.custom-checkbox label:hover:before {
    border: 1px solid #004298 !important;
}
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:hover:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:hover:before {
    border: 1px solid #004298 !important;
}
