.cover {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.cover .img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

/* BODY */
body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-color: #101825;
    line-height: 1;
    word-break: break-word;
    color: #fff;
    font-size: 16px;
    
}

.item-list {
    margin: 0;
    padding: 0;
}
.item-list > li {
    list-style: none;
    float: left;
}
.item-list.fluid > li {
    width: 100%;
}
.item-list:before, .item-list:after {
    content: " ";
    display: table;
}
.item-list:after {
    clear: both;
}
.item-list.bullet li {
    position: relative;
    padding-left: 15px;
}
.item-list.bullet li::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: var(--circle);
    background: var(--color-primary);
    top: 0.45em;
    left: 0;
}

.layout-container{
    margin-top: 100px;
}



.contain {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.contain img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}


.text-limit {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4em;
    min-height: 1.4em;
    -webkit-line-clamp: 1;
}

.text-limit.-x2 {
    min-height: 2.8em;
    -webkit-line-clamp: 2;
}

.text-limit.-x3 {
    min-height: 4.2em;
    -webkit-line-clamp: 3;
}

